<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= title %> - <%= process.env.APP_NAME %></title>
    <link rel="stylesheet" href="/libraries/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script type="application/javascript" src="/libraries/jquery/jquery.min.js"></script>
    <script type="application/javascript" src="/libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
    <% if (locals.head) { %><%- head %><% } %>
  </head>
  <body>


    <%- body %>

  </body>
</html>